body{
    margin: 0;
}
.box{
    border: 1px solid white;
    height: 30px;
    width: 30px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
#screen{

}